@import url(https://fonts.googleapis.com/css?family=Lora:400,700);



#slider-10 H1 {
  font-family: 'Lora', serif;
  color: #fcfced;
  font-size: 14px;
  text-align: left;
}
#slider-10 P {
  font-family: 'Lora', serif;
  color: #fcfced;
  text-align: left;
  font-size: 14px;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-6 .mbr-navbar__items a {
  font-family: 'Lora', serif;
  font-size: 12px;
}





#msg-box4-14 .mbr-header__text {
  color: #fcfced;
  font-family: 'Lora', serif;
  font-size: 22px;
}
#msg-box4-14 .mbr-header__subtext {
  color: #fcfced;
  font-family: 'Lora', serif;
}
#msg-box4-14 .mbr-article {
  color: #ffffff;
}
#msg-box4-14 .mbr-article P {
  color: #fcfced;
  font-family: 'Lora', serif;
}
#msg-box4-14 .btn {
  font-family: 'Lora', serif;
  font-size: 11px;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-6 .mbr-navbar__items a {
  font-family: 'Lora', serif;
  font-size: 12px;
}





#msg-box4-8 .mbr-header__text {
  color: #fcfced;
  font-family: 'Lora', serif;
  font-size: 22px;
}
#msg-box4-8 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8 .mbr-article {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#msg-box4-8 .mbr-article P {
  font-family: 'Lora', serif;
  font-size: 12px;
  color: #fcfced;
}
#msg-box4-8 .btn {
  font-family: 'Lora', serif;
  font-size: 11px;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-6 .mbr-navbar__items a {
  font-family: 'Lora', serif;
  font-size: 12px;
}





#form1-7 .mbr-header__text {
  color: #fcfced;
  font-family: 'Lora', serif;
  font-size: 22px;
}
#form1-7 .btn {
  font-family: 'Lora', serif;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-6 .mbr-navbar__items a {
  font-family: 'Lora', serif;
  font-size: 12px;
}
#msg-box3-13 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Lora', serif;
  color: #fafdec;
  font-size: 22px;
}
#msg-box3-13 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-13 .btn {
  font-family: 'Lora', serif;
}



#header4-3 H1 {
  font-family: 'Lora', serif;
  font-size: 14px;
  color: #fcfced;
  text-align: center;
}
#header4-3 P {
  font-family: 'Lora', serif;
  font-size: 24px;
  color: #fcfced;
  text-align: center;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-6 .mbr-navbar__items a {
  font-family: 'Lora', serif;
  font-size: 12px;
}





#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-6 .mbr-navbar__items a {
  font-family: 'Lora', serif;
  font-size: 12px;
}
#msg-box3-16 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Lora', serif;
  color: #fdfcea;
}
#msg-box3-16 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fdfcea;
  font-family: 'Lora', serif;
}
#msg-box3-17 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Lora', serif;
  color: #fdfcea;
}
#msg-box3-17 .mbr-header .mbr-header__subtext {
  text-align: center;
  font-family: 'Lora', serif;
  color: #fdfcea;
}
